.card{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    text-decoration: none;
    color:#000;
    padding: 0!important;
    width: 100%;
    float: left;
}
.card:hover{
    text-decoration: none;
    color:initial;
}
.card img{
    width: 100%;
}
.top-image{
    width: 100%;
    height: 224px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.card .details{
    padding: 10px;
}

body{
    font-family: 'Roboto', sans-serif !important;
}
.fav-icon{
    font-size: 28px;
    color: #ddd;
}
footer{
    text-align: center;
    width: 100%;
    padding: 35px;
    float: left;
    background-color: rgb(33, 33, 33);
    color: #fff;
    margin-top: 35px;
}

nav.navbar-default{
    color: #fff;
    background-color: rgb(33, 150, 243);
}
.navbar-default .navbar-brand,.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #00bcd4 !important
}

.col-md-3{
    width: 23%;
    padding: 15px;
    float: left;
}
.disp-inline{
    display: inline-block !important;
    vertical-align: middle;
}
.fav-icon{
    text-align: center;
    position: absolute;
    right: 60px;
    top: 0;
    line-height: 1;
    
}
.info{
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 1;
}
.pdr-0{
    padding-right: 0!important;
}
.max-h{
    max-height: 396px;
    
}
.wrapper-form form{
    padding: 0 0 0 25px;
}

.wrapper-form .btn-danger{
    margin-left: 10px;
}

.card-wrapper{
    padding: 15px;
    float: left;
}
.bd-top{
    border-top: 1px solid rgba(0,0,0,0.12);
}
.price{
    font-size: 16px;
    color: inherit;
    padding: 0 0 0 15px;
    line-height: 1;
}

.fav-icon button,.info button{
    width:20px !important;
    height:20px !important;
    padding-top: 0 !important;

}
.pos-rel{
    position: relative
}
.padd-btm{
    padding-bottom: 20px;
}
.drawer-wrap > div{
    top:64px !important;

}

h1{
    padding-left: 20px;
}
.add-book svg{
    display: inline-block !important;
    color: #ffffff !important;
    fill: #ffffff !important;
    height: 56px !important;
    width: 24px !important;
    user-select: none !important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms !important;
    line-height: 56px !important;
}